@black: #181818;
@light-grey: #cdcdcd;
@plone-blue: #0086c3;
@white: #fafafa;

.ui.basic.segment.content-area {
  cursor: default !important;
}

.has--backgroundColor--transparent {
  background-color: transparent;
}

.has--backgroundColor--grey {
  background-color: @light-grey;
}

//Header
.ui.basic.segment.header-wrapper {
  position: fixed !important;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 68px;
  padding: 0px;
  border-bottom: 1px solid @light-grey;
  background-color: @white;

  .header {
    flex-direction: row;
    .logo {
      display: flex;
      width: 155px;
      height: 40px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    a {
      color: @black;
    }
  }

  #navigation .item.active {
    padding-bottom: 21px;
    border-color: @black;
    color: @black;
  }

  #navigation .item {
    padding: auto;
    color: @black;
  }
}

//Search
.search {
  display: flex;
  margin-left: auto;
  .field.search-icon {
    button {
      border: 0 solid transparent;
      background-color: transparent;
      cursor: pointer;
      svg.icon {
        height: 24px !important;
        fill: @plone-blue !important;
      }
    }
  }
}

.ui.form {
  .field.searchbox {
    padding-left: 0;
    border-left: 0;
    .search-button {
      width: 124px;
      color: @white;
      text-transform: uppercase;
      text-align: center;
      background-color: @plone-blue;
      border-radius: 2px;
    }
  }
  .ui.transparent.input {
    height: 54px;
    width: 445px;
    margin-right: 20px;
    border: 1px solid #3c4048;
    border-radius: 2px;
    input {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
//Dropdown
.ui.inline.dropdown {
  color: #3c4048;
  .item {
    .ui.tiny.button {
      background-color: transparent;
      font-size: 14px;
    }
  }
  .menu {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

//Breadcrumbs
.siteroot {
  .ui.basic.segment.content-area {
    padding-top: 68px;
  }

  .ui.secondary.vertical.segment.breadcrumbs {
    display: none;
    visibility: hidden;
  }
}

.ui.secondary.vertical.segment.breadcrumbs {
  padding: 0px;
  border-top: 0x solid transparent;
  border-bottom: 0 solid transparent;
  margin-top: 68px;
  background-color: @white;

  .section {
    width: auto;
    height: 25px;
    margin-top: 10px;
    margin-bottom: auto;
    color: @black;
    text-align: center;
  }

  svg.icon {
    width: 25px;
    height: 25px;
    margin-top: -2px;
    margin-bottom: auto;
  }

  .divider {
    color: @black;
  }
}

//Content
.ui.basic.segment.content-area {
  margin: 0px;
  background-color: @white !important;

  .content {
    color: @black;
  }

  body {
    color: @black;
  }

  a {
    color: #007eb6;
  }
}

.documentFirstHeading {
  color: @black;
}

#view .ui.container {
  p {
    color: @black;
  }
}

.documentFirstHeading::before {
  border-bottom-color: #1a0b31;
}

//Blocks
//Heading
.block.heading.align-left {
  .heading-wrapper {
    h2 {
      text-align: left;
    }
  }
}

.block.heading.align-center {
  .heading-wrapper {
    h2 {
      text-align: center;
    }
  }
}

.block.heading.align-right {
  .heading-wrapper {
    h2 {
      text-align: right;
    }
  }
}

//Grid
.grid-image-wrapper {
  display: flex;
  justify-content: center;
}

.grid-teaser-item.default .grid-image-wrapper {
  img {
    width: 100%;
    height: 60px;
    margin: auto;
    object-fit: contain;
    object-position: center;
  }
}
//Hero
.block.hero {
  z-index: 0;

  &.alignLeft {
    .block-inner-wrapper {
      flex-direction: row;
    }
  }

  &.alignRight {
    .block-inner-wrapper {
      flex-direction: row-reverse;
    }
  }

  &.transparent .hero-body {
    padding-left: 0px;
    background-color: transparent;
  }

  &.grey .hero-body {
    background-color: #e0e1e2;
  }

  &.plone-blue .hero-body {
    background-color: @plone-blue;

    h1 {
      color: @white;
    }

    p {
      color: @white !important;
    }
  }

  .hero-body {
    display: block;
    background-color: #e0e1e2;

    h1 {
      color: @black;
    }

    p {
      margin-bottom: 14px;
    }
  }
}

//Button
.block button.ui.button {
  transition: all 0.2s ease-out;

  &.blue {
    border: 1px solid @plone-blue;
    background: linear-gradient(to right, @white 50%, @plone-blue 50%);
    background-position: right;
    background-size: calc(200% + 1px) 100%;
    color: @white;

    &:hover {
      background-position: left;
      color: @plone-blue;
    }
  }

  &.white {
    border: 1px solid @white;
    background: linear-gradient(to right, @plone-blue 50%, @white 50%);
    background-position: right;
    background-size: calc(200% + 1px) 100%;
    color: @plone-blue;

    &:hover {
      background-position: left;
      color: @white;
    }
  }
}

//Color picker widget
.color-picker-widget .button {
  border: 1px solid #ccc;
  &.active {
    border: 1px solid #3c4048;
  }

  &::after {
    display: none;
    visibility: hidden;
  }

  &.blue {
    background: @plone-blue;
  }
}

.ui.blue.button {
  background-color: @plone-blue;
  &:focus {
    background-color: @plone-blue;
  }
}

.ui.blue.active.button {
  background-color: @plone-blue;
}

.ui.blue.button {
  &:hover {
    background-color: @plone-blue;
  }
}

//Img
.block.align.center {
  text-align: left;
}

//Slider
.block.slider {
  &.full-width {
    height: 726px;

    .grid-teaser-item.top {
      display: block;
      position: relative;

      .teaser-item.top {
        .teaser-item-title.fix-width-issue {
          position: absolute;
          top: 140px;
          width: 350px;
          padding: 20px;
          padding-left: 0;
          background-color: transparent;

          p {
            color: @white !important;

            ::selection {
              background: #b4d5ff;
            }
          }

          h2 {
            color: @white !important;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 726px;
      object-position: center;
    }
    .slick-slider {
      .slick-arrow.slick-prev {
        color: @white;
        margin-left: 48px;
        z-index: 1;
      }
      .slick-arrow.slick-next {
        color: @white;
        margin-right: 48px;
      }
    }
  }

  .slick-dots {
    bottom: 40px;

    li {
      button::before {
        color: @white;
        opacity: 1;
      }

      &.slick-active {
        button::before {
          color: @plone-blue;
        }
      }
    }
  }
}

//Listing
.listing-body {
  h3 {
    margin-top: 0;
  }

  .event-when-where {
    display: flex;
    flex-direction: row;
    .dates {
      color: @black;
    }
  }
}

//Footer
.ui.padded.segment.vertical.segment {
  border-color: @white;
  border-top: 1px solid @light-grey;
}

.ui.inverted.grey.segment {
  background-color: @white !important;
  color: @black !important;

  a.item {
    color: #007eb6;
  }
}

.ui.inverted.list .item a:not(.ui) {
  color: #007eb6 !important;
  &:hover {
    color: #007eb6 !important;
  }
}

.ui.horizontal.inverted.list {
  a {
    img.ui.image {
      display: flex;
      margin: auto;
    }
  }
}

//Login
#page-login {
  .ui.form {
    background-color: @white;
  }

  .ui.raised.segments {
    border-color: @white;
  }

  .ui.form .field .wrapper > label {
    color: @black;
  }

  .ui.segment.primary {
    color: @black;
  }

  .ui.secondary.segment {
    color: @black;
  }

  .iu.input {
    background-color: @white;
  }

  #login .placeholder {
    color: @white;
  }

  .ui.form input:not([type]),
  .ui.form input[type='date'],
  .ui.form input[type='datetime-local'],
  .ui.form input[type='email'],
  .ui.form input[type='number'],
  .ui.form input[type='password'],
  .ui.form input[type='search'],
  .ui.form input[type='tel'],
  .ui.form input[type='time'],
  .ui.form input[type='text'],
  .ui.form input[type='file'],
  .ui.form input[type='url'] {
    background-color: @white;
  }

  .ui.segment {
    background-color: @white;
  }

  .ui.clearing.section.actions {
    border-color: @white;
  }

  #login-from-submit.icon.circled {
    color: #007eb6;
  }

  #login-from-cancel.icon.circled {
    color: red !important;
  }

  .help {
    padding-top: 17px;
    padding-bottom: 3px;
    border: 0px;

    a {
      color: #007eb6;
    }
  }
}

#toolbar-body {
  .toolbar-body {
    background-color: @white;
  }
}

//Full width blocks
.full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw !important;
  max-width: initial !important;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
}

//@media queries
@media screen and (max-width: 2560px) {
  //Slider
  .block.slider {
    height: 886px;

    &.full-width {
      height: 886px;

      .grid-teaser-item.top {
        display: block;
      }

      img {
        width: 100%;
        height: 886px;
        object-position: center;
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  //Slider
  .block.slider {
    &.full-width {
      height: 726px;

      .grid-teaser-item.top {
        display: block;
      }

      img {
        width: 100%;
        height: 726px;
        object-position: center;
      }
    }
  }
}

@media screen and (max-width: 1012px) {
  .logo-nav-wrapper {
    flex-direction: row-reverse;
    justify-content: right !important;
  }
  .navigation {
    height: 68px;
    display: flex;
  }
  .search {
    display: flex;
    margin-left: 0;
    .ui.form {
      .field.search-icon {
        button {
          height: 68px;
          border: 0;
          cursor: pointer;
          background-color: transparent;
          margin-right: 15px;
          svg.icon {
            height: 29px !important;
            fill: @black !important;
          }
        }
      }
    }
  }
  //Hamburger
  .hamburger {
    padding: 0;
    margin-top: 21px;

    &:hover {
      opacity: 1;
    }
  }

  //Hamburger open
  .mobile-menu-nav .ui.pointing.secondary.stackable.menu {
    display: flex;
    flex-direction: column;

    .item {
      align-self: center;
    }
  }
  .ui.basic.segment.header-wrapper {
    &.header {
      a {
        color: @black;
      }
    }
    position: fixed !important;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 68px;
    padding: 0px;
    background-color: @white;

    #navigation .item {
      padding: auto;
      color: @black;
    }

    #navigation .item.active {
      margin-top: 0;
      padding-bottom: 21px;
      border-color: @black;
      color: @black;
    }
  }

  //Breadcrumbs
  .siteroot .ui.secondary.vertical.segment.breadcrumbs {
    display: none;
    visibility: hidden;
  }

  .ui.secondary.vertical.segment.breadcrumbs {
    height: auto;
  }

  //Content area
  .ui.basic.segment.content-area {
    padding-top: 0px;
  }

  //Slider
  .block.slider {
    .slick-slider {
      button.slick-arrow {
        visibility: hidden;
      }
    }
  }

  //Listing
  .listing-item {
    img {
      display: none;
      visibility: hidden;
    }
  }

  //Footer
  .ui.inverted.list .item a:not(.ui):hover {
    color: #007eb6 !important;
  }
}

@media screen and (max-width: 769px) {
  //Hamburger
  //Hamburger open
  .ui.basic.segment.header-wrapper {
    &.header {
      a {
        color: @black;
      }
    }
    position: fixed !important;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 68px;
    padding: 0px;
    background-color: @white;

    #navigation .item {
      padding: auto;
      color: @black;
    }

    #navigation .item.active {
      margin-top: 0;
      padding-bottom: 21px;
      border-color: @black;
      color: @black;
    }
  }

  //Breadcrumbs
  .siteroot .ui.secondary.vertical.segment.breadcrumbs {
    display: none;
    visibility: hidden;
  }

  //Content area
  .ui.basic.segment.content-area {
    padding-top: 0px;
  }

  //Hero
  .block.hero.alignRight .block-inner-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .block.hero .block-inner-wrapper {
    display: flex;
    flex-direction: column-reverse;

    .hero-image {
      display: none;
      visibility: hidden;
    }
  }

  //Button
  .button.container {
    .align.center {
      text-align: left;
    }
  }

  //Slider
  .block.slider {
    &.full-width {
      height: 468px;

      .grid-teaser-item.top {
        display: block;
        position: relative;
        .teaser-item.top {
          .teaser-item-title.fix-width-issue {
            position: absolute;
            width: 350px;
            padding: 20px;
            padding-left: 0;
            background-color: transparent;
          }
        }
      }

      img {
        width: 100%;
        height: 468px;
        object-position: center;
      }
    }
  }

  //Footer
  .ui.inverted.list .item a:not(.ui):hover {
    color: #007eb6 !important;
  }
}

body .ui.wrapper > .block.align.full,
body.has-toolbar.has-sidebar .ui.wrapper > .ui.inner .block.align.full,
body.has-toolbar-collapsed.has-sidebar
  .ui.wrapper
  > .ui.inner
  .block.align.full,
body.has-toolbar-collapsed.has-sidebar-collapsed
  .ui.wrapper
  > .ui.inner
  .block.align.full,
body.has-toolbar.has-sidebar-collapsed
  .ui.wrapper
  > .ui.inner
  .block.align.full {
  width: 100% !important;

  iframe {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

body.has-toolbar.has-sidebar .ui.wrapper > .ui.inner.block.full,
body.has-toolbar-collapsed.has-sidebar .ui.wrapper > .ui.inner.block.full,
body.has-toolbar-collapsed.has-sidebar-collapsed
  .ui.wrapper
  > .ui.inner.block.full,
body.has-toolbar.has-sidebar-collapsed .ui.wrapper > .ui.inner.block.full {
  width: 100% !important;

  iframe {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.block.align:not(.right):not(.left) {
  clear: both;
}
