// Blockquote
blockquote {
  .default-container-width();
  position: relative;
  margin: 3rem 4rem;
  color: var(--primary-grey);
  font-size: 29px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
}

#page-document > .block.slate h2,
#page-document > .block.slate h3 {
  max-width: var(--text-container-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

h2,
h3 {
  font-weight: 600;
}

h2 {
  font-size: 2.2rem;
  font-style: normal;
  line-height: 36px;
}

h3 {
  font-size: 1.8rem;
  font-style: normal;
  line-height: 30px;
}

.block-editor-slate h2,
.block-editor-slate h3 {
  max-width: var(--text-container-width);
  margin-left: auto !important;
  margin-right: auto !important;
}

.block.__grid {
  .ui.stackable.stretched.column.grid {
    .column.grid-block-slate {
      p {
        margin-left: 0 !important;
      }
    }
  }
}
