// Blockquote
blockquote {
  .default-container-width();
  position: relative;
  margin: 3rem 4rem;
  color: var(--text-color);
  font-size: 29px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;

  &:before {
    position: absolute;
    top: -1rem;
    left: -3.75rem;
    content: url('./quote-icon.svg');
  }
}

#main h2,
#main h3 {
  .text-container-width();
}

.block.__grid {
  .ui.stackable.stretched.column.grid {
    .column.grid-block-slate {
      p {
        margin-left: 0 !important;
      }
    }
  }
}
