//Image

.block.image {
  &.center {
    .figure.stage-figure {
      width: fit-content;
      margin: 0 auto;
      .figure-media {
        max-width: 620px;
        margin: auto;
        display: flex;
        img {
          width: 100%;
          max-width: 620px;
        }
      }
    }
  }

  &.wide {
    .figure.stage-figure {
      width: fit-content;
      margin: 0 auto;
      .figure-media {
        max-width: 940px;
        margin: auto;
        display: flex;
        img {
          width: 100%;
          max-width: 940px;
        }
      }
    }
  }

  &.full {
    .figure.stage-figure {
      width: fit-content;
      margin: 0 auto;
      .figure-media {
        max-width: 1440px;
        margin: auto;
        display: flex;
        img {
          width: 100%;
          max-width: 1440px;
        }
      }
    }
  }

  &.left {
    img.large {
      max-width: 620px;
    }
  }

  &.right {
    img.large {
      max-width: 620px;
    }
  }
  .figure-caption {
    position: relative;
    .figure-copyright {
      cursor: pointer;
      height: 24px;
      width: 24px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0;
      border: none;
      display: flex;
    }
    .copyright-popup {
      color: @white;
      background-color: #222;
      position: absolute;
      padding: 10px 25px;
      bottom: 0;
      right: 5%;
    }
  }
}

.block-editor-image {
  .block.image.align {
    &.left {
      .large {
        max-width: 620px;
      }
    }
  }
}
