//Image

.block.image {
  &.center {
    .figure.stage-figure {
      width: fit-content;
      margin: 0 auto;
      text-align: start;
      img {
        width: 100%;
        max-width: 620px;
      }
    }
  }

  &.wide {
    .figure.stage-figure {
      width: fit-content;
      margin: 0 auto;
      img {
        width: 100%;
        max-width: 940px;
      }
    }
  }

  &.full {
    .figure.stage-figure {
      width: fit-content;
      margin: 0 auto;
      img {
        width: 100%;
        max-width: 1440px;
      }
    }
  }

  &.left {
    img.large {
      max-width: 620px;
    }
  }

  &.right {
    img.large {
      max-width: 620px;
    }
  }
}

.block-editor-image {
  .block.image.align {
    &.left {
      .large {
        max-width: 620px;
      }
    }
  }
}
