.block.quote {
  .inner-wrapper {
    min-height: 200px;
    padding: 1rem;
    padding-top: calc(100px + 1em);
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  &.align-left {
    border-top: none;

    .inner-wrapper {
      display: flex;
      padding: 4.572rem 3rem 4.144rem;

      .quote-image-wrapper {
        width: unset;
        margin-right: 2rem;

        img.quote-image {
          width: 180px;
          height: 180px;
          margin-top: 0;
        }
      }

      .quotation {
        max-width: 1000px;
        margin-top: 0;
        margin-left: 0;

        .quote-text {
          font-size: 1.66667em;
        }
      }
    }

    &.white {
      border-top: 1px solid #d5dde2;
      border-bottom: 1px solid #d5dde2;
    }
  }

  &.no-image {
    .inner-wrapper {
      padding: 1rem;
    }
  }

  &.lightGrey .inner-wrapper {
    background: #d5dde2;
  }

  &.white {
    background: #fff;

    .quotation .quote-text {
      .quotation-mark {
        color: #d5dde2;
      }
    }
  }

  .quote-image-wrapper {
    width: 100%;
    text-align: center;

    .quote-image {
      width: 150px;
      height: 150px;
      margin-top: -75px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .quotation {
    max-width: 940px;
    margin: 20px auto 0;

    .quote-text {
      // color: @black;
      font-family: 'Roboto Slab';
      font-size: 2em;

      .quotation-mark {
        height: 70px;
        margin-right: 20px;
        float: left;
      }
    }

    .author {
      font-size: @18px;
      font-weight: 300;

      span.person {
        font-weight: 700;
      }
    }
  }

  &.white .inner-wrapper {
    border-top: 1px solid #d5dde2;

    .quotation {
      max-width: 1000px;
    }
  }
}
