//  Search
.block.search {
  .ui.stackable.grid.searchBlock-facets.right-column-facets {
    max-width: var(--default-container-width);
    margin-left: auto;
    margin-right: auto;

    .wide.computer.wide.mobile.wide.tablet.column {
      padding: 0;

      .search-wrapper .search-input {
        input {
          padding-left: 0;
          border-top: 0;
          border-right: 0;
          border-bottom: 1px solid #c7d5d8;
          border-left: 0;
          border-radius: 0;
        }
      }

      .listing-wrapper {
        max-width: var(--default-container-width);
        margin-left: auto;
        margin-right: auto;

        .items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .listing-item {
            display: block;
            max-width: 458px;
            border: 1px solid var(--primary-lightGrey);
            border-radius: 8px;

            .listing-image {
              width: 100%;
              height: 150px;
              border-radius: 8px 8px 0 0;
              object-fit: cover;
            }

            .listing-body {
              padding: 20px;

              .listing-header {
                width: fit-content;
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .wide.computer.wide.mobile.wide.tablet.column {
      .facets {
        padding-top: 1.25rem;
        padding-right: 16px;
        padding-left: 16px;

        h3 {
          color: #222;
          font-size: 1.8rem;
          font-weight: 600;
        }

        .ui.basic.segment.facet {
          .checkbox-facet {
            h4 {
              color: var(--primary-grey);
              font-size: 1.25rem;
              font-weight: 600;
            }

            .entries {
              .entry {
                .ui.checkbox {
                  label {
                    color: var(--primary-grey);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
