//  Search
.block.search .row {
  max-width: var(--default-container-width);
  margin-right: auto;
  margin-left: auto;

  .wide.column {
    padding: 0;
  }
}

.block.search .search-wrapper .ui.input input {
  border: 0;
  background-color: #ececec;
  border-radius: 0;
  padding-left: 20px;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: 38px;
}

.block.search .search-wrapper .ui.button {
  margin: 15px;
}

.block.search .search-wrapper svg {
  height: 38px !important;
  width: unset !important;
}

.block.search .search-wrapper .divider {
  border-right: none;
}

.block.search .listing-item {
  border-bottom: 1px solid #525252;

  .image-wrapper {
    width: 300px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 40px;

    img {
      width: 300px;
      height: 180px;
      margin: 0;
      object-fit: cover;
    }
  }

  .listing-body h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
}
