// Separator Block
.block.separator {
  max-width: 940px;
  top: unset;
  display: block;
  height: unset;
  border: none;
  margin: 50px auto;
  clear: both;

  &:not(.inner):not([role='presentation']) {
    padding: 25px 0 !important;
  }

  .line {
    &::after {
      position: relative;
      top: 50%;
      display: block;
      border-top: 1px solid #000;
      margin-top: -1px;
      content: '';
    }
  }

  &.has--align--center {
    max-width: 620px;
  }

  &.has--align--left {
    max-width: 620px;

    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--noLine--true {
    .line::after {
      display: none;
    }
  }
}

.block-editor-separator {
  clear: both;

  &.has--align--center .block.separator {
    max-width: 620px;
  }

  &.has--align--left .block.separator {
    max-width: 620px;

    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--noLine--true {
    .line::after {
      display: none;
    }
  }
}
