// Slider
.block.slider {
  .grid-teaser-item.top {
    position: relative;
    display: block;

    .teaser-item.top {
      .highlight-image-wrapper.gradient {
        width: 100%;
      }

      .teaser-item-title.fix-width-issue {
        &.align-left {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 530px;
          padding: 40px;
          background-color: rgba(0, 134, 195, 0.8);

          .title {
            margin-bottom: 60px;

            .supertitle {
              color: var(--primary-white);
              font-size: 30px;
              font-style: normal;
              font-weight: 300;
              line-height: 36px;
            }

            h2 {
              margin: 15px 0 0 0;
              color: var(--primary-white);
              font-size: 48px;
              font-style: normal;
              font-weight: 500;
              line-height: 54px;
              overflow-wrap: break-word;
              word-break: break-word;
              word-wrap: break-word;
            }
          }

          .body p {
            color: @white !important;
          }

          .button {
            .ui.button {
              background: transparent;
              padding: 11px 29px;
              border: 2px solid #fff;
              color: var(--primary-white);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
            }
          }
        }

        &.align-right {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 530px;
          padding: 40px;
          background-color: rgba(0, 134, 195, 0.8);

          .title {
            margin-bottom: 60px;

            .supertitle {
              color: var(--primary-white);
              font-size: 30px;
              font-style: normal;
              font-weight: 300;
              line-height: 36px;
            }

            h2 {
              margin: 15px 0 0 0;
              color: var(--primary-white);
              font-size: 48px;
              font-style: normal;
              font-weight: 500;
              line-height: 54px;
              overflow-wrap: break-word;
              word-break: break-word;
              word-wrap: break-word;
            }
          }

          .body p {
            color: @white !important;
          }

          .button {
            .ui.button {
              border: 1px solid #fff;
              background: transparent;
              color: var(--primary-white);
            }
          }
        }
      }
    }
  }

  .slick-slider {
    .slick-arrow.slick-prev {
      color: var(--primary-black);
    }

    .slick-arrow.slick-next {
      color: var(--primary-black);
    }
  }

  .slick-dots {
    bottom: -25px;

    li {
      width: 55px;
      height: 7px;
      background-color: #ccc;

      button {
        width: 55px;
        height: auto;
        border: 0;

        &::before {
          content: none;
        }
      }

      &.slick-active {
        width: 55px;
        height: 7px;
        background-color: var(--primary-black);

        button {
          width: 55px;
          height: auto;
          border: 0;

          &::before {
            content: none;
          }
        }
      }
    }
  }
}

.block-editor-slider {
  max-width: 1440px;
}
