// Slider
.block.slider {
  .grid-teaser-item.top {
    position: relative;
    display: block;

    .teaser-item.top {
      .highlight-image-wrapper.gradient {
        width: 100%;
      }

      .teaser-item-title.fix-width-issue {
        &.align-left {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 530px;
          padding: 20px;
          background-color: rgba(0, 134, 195, 0.8);

          .supertitle {
            color: @white !important;
          }

          .title h2 {
            .default-heading-size();
            margin: 0 !important;
            color: @white !important;
          }

          .body p {
            color: @white !important;
          }

          .button {
            .ui.button {
              transition: all 0.2s ease-out;
              .button-white();
            }
          }
        }

        &.align-right {
          right: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 530px;
          padding: 20px;
          background-color: rgba(0, 134, 195, 0.8);

          .supertitle {
            color: @white !important;
          }

          .title h2 {
            .default-heading-size();
            margin: 0 !important;
            color: @white !important;
          }

          .body p {
            color: @white !important;
          }

          .button {
            .ui.button {
              transition: all 0.2s ease-out;
              .button-white();
            }
          }
        }
      }
    }
  }

  .slick-slider {
    .slick-arrow.slick-prev {
      color: var(--primary-black);
    }

    .slick-arrow.slick-next {
      color: var(--primary-black);
    }
  }

  .slick-dots {
    bottom: -25px;

    li {
      width: 55px;
      height: 7px;
      background-color: #ccc;

      button {
        width: 55px;
        height: auto;
        border: 0;

        &::before {
          content: none;
        }
      }

      &.slick-active {
        width: 55px;
        height: 7px;
        background-color: var(--primary-black);

        button {
          width: 55px;
          height: auto;
          border: 0;

          &::before {
            content: none;
          }
        }
      }
    }
  }
}

.block-editor-slider {
  max-width: 1440px;
}
