name: Redeploy from tag to live plone.de

on:
  workflow_dispatch:

jobs:

  meta:
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.vars.outputs.TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Env Vars
        id: vars
        run: |
          echo "TAG=$(cat version.txt)" >> $GITHUB_OUTPUT

  deploy:
    if: github.event_name == 'workflow_dispatch'
    concurrency: deploy
    runs-on: ubuntu-latest
    needs:
      - meta
    environment:
      name: plone.de
      url: https://plone.de
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to cluster
        uses: kitconcept/docker-stack-deploy@v1.2.0
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.DEPLOY_GHCR_READ_TOKEN }}
          remote_host: ${{ vars.DEPLOY_HOST }}
          remote_port: ${{ vars.DEPLOY_PORT }}
          remote_user: ${{ vars.DEPLOY_USER }}
          remote_private_key: ${{ secrets.DEPLOY_SSH }}
          stack_file: devops/stacks/plone.de.yml
          stack_name: plone-de
          stack_param: ${{ needs.meta.outputs.TAG }}
          env_file: ${{ secrets.ENV_FILE }}
          deploy_timeout: 480
